openapi: 3.0.2
info:
  description: |
    Welcome to the API reference overview for the [Stacks Blockchain API](https://docs.hiro.so/stacks-blockchain-api).

    [Download Postman collection](https://hirosystems.github.io/stacks-blockchain-api/collection.json)
  title: Stacks Blockchain API
  version: STACKS_API_VERSION
servers:
- description: Mainnet
  url: https://api.mainnet.hiro.so/
- description: Nakamoto Testnet
  url: https://api.nakamoto.testnet.hiro.so/
- description: Testnet
  url: https://api.testnet.hiro.so/
- description: Local
  url: http://localhost:3999/
tags:
- description: Read-only endpoints to obtain Stacks account details
  externalDocs:
    description: Stacks Documentation - Accounts
    url: https://docs.stacks.co/understand-stacks/accounts
  name: Accounts
- description: Read-only endpoints to obtain Stacks block details
  name: Blocks
- description: Read-only endpoints to obtain burn block details
  name: Burn Blocks
- description: Endpoints to request STX or BTC tokens (not possible on Mainnet)
  name: Faucets
- description: Read-only endpoints to obtain fee details
  name: Fees
- description: "Read-only endpoints to obtain network, Proof-of-Transfer, Stacking,\
    \ STX token, and node information"
  name: Info
- description: Read-only endpoints to obtain microblocks details
  externalDocs:
    description: Stacks Documentation - Microblocks
    url: https://docs.stacks.co/understand-stacks/microblocks
  name: Microblocks
- description: Read-only endpoints realted to the Blockchain Naming System on Stacks
  externalDocs:
    description: Stacks Documentation - Blockchain Naming System
    url: https://docs.stacks.co/build-apps/references/bns
  name: Names
- description: Read-only endpoints to obtain non-fungible token details
  externalDocs:
    description: Stacks Documentation - Tokens
    url: https://docs.stacks.co/write-smart-contracts/tokens
  name: Non-Fungible Tokens
- description: Endpoints to support the Rosetta API open blockchain standard
  externalDocs:
    description: Hiro Documentation - Rosetta Support
    url: https://docs.hiro.so/get-started/stacks-blockchain-api#rosetta-support
  name: Rosetta
- description: "Read-only endpoints to search for accounts, blocks, smart contracts,\
    \ and transactions"
  name: Search
- description: Read-only endpoints to obtain Clarity smart contract details
  externalDocs:
    description: Stacks Documentation - Clarity Smart Contracts
    url: https://docs.stacks.co/write-smart-contracts/overview
  name: Smart Contracts
- description: Read-only endpoints to obtain Stacking reward details
  externalDocs:
    description: Stacks Documentation - Stacking
    url: https://docs.stacks.co/understand-stacks/stacking
  name: Stacking Rewards
- description: Endpoints to obtain transaction details and to broadcast transactions
    to the network
  externalDocs:
    description: Hiro Documentation - Transactions
    url: https://docs.hiro.so/get-started/transactions
  name: Transactions
- description: Endpoints to obtain Mempool information
  name: Mempool
- description: Endpoints to get information about the Proof of Transfer consensus
    mechanism
  name: Proof of Transfer
paths:
  /extended/v1/faucets/stx:
    post:
      description: |
        Add 500 STX tokens to the specified testnet address. Testnet STX addresses begin with `ST`. If the `stacking`
        parameter is set to `true`, the faucet will add the required number of tokens for individual stacking to the
        specified testnet address.

        The endpoint returns the transaction ID, which you can use to view the transaction in the
        [Stacks Explorer](https://explorer.hiro.so/?chain=testnet). The tokens are delivered once the transaction has
        been included in an anchor block.

        A common reason for failed faucet transactions is that the faucet has run out of tokens. If you are experiencing
        failed faucet transactions to a testnet address, you can get help in [Discord](https://stacks.chat).

        **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      operationId: run_faucet_stx
      parameters:
      - description: A valid testnet STX address
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: ST3M7N9Q9HDRM7RVP1Q26P0EE69358PZZAZD7KMXQ
          type: string
        style: form
      - description: Request the amount of STX tokens needed for individual address
          stacking
        explode: true
        in: query
        name: stacking
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                txId: 0xf2f0402f9f4c4d43b382690c4f7b97e24d5ff5dd5c619e3615daa64dca7ef4bc
                txRaw: 80800000000400164247d6f2b425ac5771423ae6c80c754f7172b0000000000000003200000000000000b400008537046ff1008368baaa3ff2235122c556b89dad4f9df0639b924cf32a44b866497e49846b24191e711b21faaae96ca0542e4a140168484740b94211cececb3303020000000000051ab52c45b1a7977204f17ac0b6f48306aea2dbb8e9000000000007a12046617563657400000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/RunFaucetResponse'
          description: Success
        "500":
          description: Faucet call failed
      summary: Get STX testnet tokens
      tags:
      - Faucets
  /extended/v1/faucets/btc:
    post:
      description: |
        Add 1 BTC token to the specified testnet BTC address.

        The endpoint returns the transaction ID, which you can use to view the transaction in a testnet Bitcoin block
        explorer. The tokens are delivered once the transaction has been included in a block.

        **Note:** This is a testnet only endpoint. This endpoint will not work on the mainnet.
      operationId: run_faucet_btc
      parameters:
      - description: A valid testnet BTC address
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: 2N4M94S1ZPt8HfxydXzL2P7qyzgVq7MHWts
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/run_faucet_btc_request'
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                txId: 0xf2f0402f9f4c4d43b382690c4f7b97e24d5ff5dd5c619e3615daa64dca7ef4bc
                txRaw: 80800000000400164247d6f2b425ac5771423ae6c80c754f7172b0000000000000003200000000000000b400008537046ff1008368baaa3ff2235122c556b89dad4f9df0639b924cf32a44b866497e49846b24191e711b21faaae96ca0542e4a140168484740b94211cececb3303020000000000051ab52c45b1a7977204f17ac0b6f48306aea2dbb8e9000000000007a12046617563657400000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/RunFaucetResponse'
          description: Success
        "403":
          content:
            application/json:
              example:
                error: BTC Faucet not fully configured
                success: false
              schema:
                $ref: '#/components/schemas/run_faucet_btc_403_response'
          description: BTC Faucet not fully configured
        "500":
          description: Faucet call failed
      summary: Add testnet BTC tokens to address
      tags:
      - Faucets
  /extended/v1/tx:
    get:
      description: |
        Retrieves all recently mined transactions

        If using TypeScript, import typings for this response from our types package:

        `import type { TransactionResults } from '@stacks/stacks-blockchain-api-types';`
      operationId: get_transaction_list
      parameters:
      - description: max number of transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          example: 100
          maximum: 200
          type: integer
        style: form
      - description: index of first transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      - description: Filter by transaction type
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: coinbase
          items:
            enum:
            - coinbase
            - token_transfer
            - smart_contract
            - contract_call
            - poison_microblock
            - tenure_change
            type: string
          type: array
        style: form
      - description: Option to filter results by sender address
        explode: true
        in: query
        name: from_address
        required: false
        schema:
          type: string
        style: form
      - description: Option to filter results by recipient address
        explode: true
        in: query
        name: to_address
        required: false
        schema:
          type: string
        style: form
      - description: "Option to sort results by block height, timestamp, or fee"
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: block_height
          enum:
          - block_height
          - burn_block_time
          - fee
          example: burn_block_time
          type: string
        style: form
      - description: Filter by transactions after this timestamp (unix timestamp in
          seconds)
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 1704067200
          type: integer
        style: form
      - description: Filter by transactions before this timestamp (unix timestamp
          in seconds)
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 1706745599
          type: integer
        style: form
      - description: Filter by contract call transactions involving this contract
          ID
        explode: true
        in: query
        name: contract_id
        required: false
        schema:
          example: SP000000000000000000002Q6VF78.pox-4
          type: string
        style: form
      - description: Filter by contract call transactions involving this function
          name
        explode: true
        in: query
        name: function_name
        required: false
        schema:
          example: delegate-stx
          type: string
        style: form
      - description: Filter by transactions with this nonce
        explode: true
        in: query
        name: nonce
        required: false
        schema:
          example: 123
          type: integer
        style: form
      - description: Option to sort results in ascending or descending order
        explode: true
        in: query
        name: order
        required: false
        schema:
          default: desc
          enum:
          - asc
          - desc
          example: desc
          type: string
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                total: 101922
                results:
                - tx_id: 0x20dedbef812e44d712569224411b27324b68ab4667321a4badd5e81ba76bf0eb
                  nonce: 269
                  fee_rate: "0"
                  sender_address: SPQXK10DBF5ECAM30XVE3EJA8DNZF3VE0BK4MKV
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: on_chain_only
                  is_unanchored: false
                  block_hash: 0x28a9e2749b82bdc058776781a5abd5c9a6efed38f05545a8a51152655b8e1f4b
                  parent_block_hash: 0x3789b75ccfe7f2acf85c3f069fd5b8f95f73aba5332fa618243957d1c017a2a3
                  block_height: 21709
                  burn_block_height: 51396
                  burn_block_time: 1626286436
                  burn_block_time_iso: 2021-07-14T18:13:56.000Z
                  canonical: true
                  tx_index: 0
                  tx_status: success
                  tx_result:
                    hex: 0x0703
                    repr: (ok true)
                  microblock_hash: ""
                  microblock_sequence: 2147483647
                  microblock_canonical: true
                  event_count: 0
                  events: []
                  tx_type: coinbase
                  coinbase_payload:
                    data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/TransactionResults'
          description: List of transactions
      summary: Get recent transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool:
    get:
      description: |
        Retrieves all transactions that have been recently broadcast to the mempool. These are pending transactions awaiting confirmation.

        If you need to monitor new transactions, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_mempool_transaction_list
      parameters:
      - description: Filter to only return transactions with this sender address.
        explode: true
        in: query
        name: sender_address
        required: false
        schema:
          example: SP1GPBP8NBRXDRJBFQBV7KMAZX1Z7W2RFWJEH0V10
          type: string
        style: form
      - description: Filter to only return transactions with this recipient address
          (only applicable for STX transfer tx types).
        explode: true
        in: query
        name: recipient_address
        required: false
        schema:
          type: string
        style: form
      - description: Filter to only return transactions with this address as the sender
          or recipient (recipient only applicable for STX transfer tx types).
        explode: true
        in: query
        name: address
        required: false
        schema:
          type: string
        style: form
      - description: "Option to sort results by transaction age, size, or fee rate."
        explode: true
        in: query
        name: order_by
        required: false
        schema:
          enum:
          - age
          - size
          - fee
          example: fee
          type: string
        style: form
      - description: Option to sort results in ascending or descending order.
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          example: asc
          type: string
        style: form
      - description: max number of mempool transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 20
          maximum: 50
          type: integer
        style: form
      - description: index of first mempool transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 96
                offset: 0
                total: 5
                results:
                - tx_id: 0xb31df5a363dad31723324cb5e0eefa04d491519fd30827a521cbc830114aa50c
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598288370
                  receipt_time_iso: 2020-08-24T16:59:30.000Z
                  fee_rate: "180"
                  sender_address: STB44HYPYAT2BB2QE513NSP81HTMYWBJP02HPGK6
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST1GY25DM8RZV4X15X07THRZ2C5NMWPGQWKFGV87F
                    amount: "500000"
                    memo: 0x46617563657400000000000000000000000000000000000000000000000000000000
                - tx_id: 0x5bed8e3f801cb4e2c74d2815a092f7c1c6a35f2fce4a80c80ca70848d34cb395
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598282326
                  receipt_time_iso: 2020-08-24T15:18:46.000Z
                  fee_rate: "180"
                  sender_address: ST1PS1KF93VBY5A1JV7TM66KN046KP3E3761DBSAG
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST2H33S8SEY27QKEKQKR6S5PECYPKY45CQYGGQR8X
                    amount: "1000"
                    memo: 0x00000000000000000000000000000000000000000000000000000000000000000000
                - tx_id: 0x9916036fde08a207e581cdcabc18ff55469861cb81194ab0e3e7c9a02cd5a17c
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598258958
                  receipt_time_iso: 2020-08-24T08:49:18.000Z
                  fee_rate: "2000"
                  sender_address: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8.test-loans-1
                    source_code: |-
                      (define-data-var stx-loaned int 0)
                      (define-data-var lockup-period int 0)
                      (define-data-var stx-return int 0)
                      (define-public (get-stx-return (stx uint) (months uint))
                          (ok
                              (begin
                                  (var-set stx-loaned (to-int(stx))
                                  (var-set lockup-period (to-int(months))
                                  (calculate-stx-return)
                                  (print (var-get stx-return))
                                  (transfer-to-server)
                              )
                          )
                      )
                      (define-private (calculate-stx-return)
                          (ok
                              (begin
                                  (var-set stx-return (- (+ (* (/ (* (var-get stx-loaned) 5) 100) (var-get lockup-period)) (var-get stx-loaned)) 5))
                              )
                          )
                      )
                      (define-private (transfer-to-server)
                        (begin
                          (unwrap-panic (stx-transfer? (to-uint (var-get stx-loaned)) tx-sender 'ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8))
                          (ok (to-uint (var-get stx-loaned)))
                        )
                      )
                - tx_id: 0x871fb186c8d6ac6ede2822c71074d9884b593c0d7f2d0d6e8516e615484d7501
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230365
                  receipt_time_iso: 2020-08-24T00:52:45.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230358601
                    source_code: ";; ## CUSTOM FUNCTION TO EXTRACT A SUBSTRING\n\n\
                      (define-read-only (subs (source (buff 10)) \n              \
                      \          (start int) \n                        (end int))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 0 start) (<= start 10))\
                      \ (ok 1) (err \"Out of bounds: start\")))\n  (unwrap-panic (if\
                      \ (and (<= 0 end) (<= end 10)) (ok 1) (err \"Out of bounds:\
                      \ end\")))\n  (let ((temp1 (fold subs1 source \n           \
                      \       {start: start, end: end, cursor: 1, data: \"\"})))\n\
                      \   (let ((data (get data temp1))) \n       data))))\n    \n\
                      ;; Call the function to extract the substring between the bounds:\n\
                      \n;; (subs \"123456789\" 2 5)\n\n(define-read-only (subs1 \n\
                      \                    (ch (buff 1))\n                    (acc\
                      \ {data: (buff 10), \n                          start: int,\n\
                      \                          end: int,\n                     \
                      \     cursor: int})) \n  (let ((data (get data acc))\n     \
                      \   (start (get start acc))\n        (cursor (get cursor acc))\n\
                      \        (end (get end acc)))                              \
                      \       \n    (let ((temp2 \n           {cursor: (+ 1 cursor),\n\
                      \            data: (default-to \"\"\n                     (as-max-len?\n\
                      \                       (concat data \n                    \
                      \     (if (let ((temp3 start)\n                            \
                      \       (temp4 cursor)\n                                   (temp5\
                      \ end))\n                              (and (<= temp3 temp4)\n\
                      \                               (<= temp4 temp5)))\n       \
                      \                    ch \n                           \"\"))\n\
                      \                       u10))}))\n     {start: (get start acc),\n\
                      \      end: (get end acc),\n      cursor: (get cursor temp2),\n\
                      \      data: (get data temp2)})))\n"
                - tx_id: 0x66df10d99d3a26018f521d60e9f744b083386c73e47ad39c394d570abee55f1f
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230066
                  receipt_time_iso: 2020-08-24T00:47:46.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230054238
                    source_code: "(define-read-only (subs1 \n                    (ch\
                      \ (buff 1))\n                    (acc {data: (buff 10), \n \
                      \                         start: int,\n                    \
                      \      end: int,\n                          cursor: int}))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 1 (get start acc)) (<=\
                      \ (get start acc) 10)) (ok 1) (err \"Out of bounds: start\"\
                      )))\n  (unwrap-panic (if (and (<= 1 (get end acc)) (<= (get\
                      \ end acc) 10)) (ok 1) (err \"Out of bounds: end\")))\n  (unwrap-panic\
                      \ (if (and (<= 1 (get cursor acc)) (<= (get cursor acc) 10))\
                      \ (ok 1) (err \"Out of bounds: cursor\")))\n  (let ((data (get\
                      \ data acc))\n        (start (get start acc))\n        (cursor\
                      \ (get cursor acc))\n        (end (get end acc)))          \
                      \                           \n    (let ((temp1 \n          \
                      \ {cursor: (+ 1 cursor),\n            data: (default-to \"\"\
                      \n                     (as-max-len?\n                      \
                      \ (concat data \n                         (if (let ((temp2 start)\n\
                      \                                   (temp3 cursor)\n       \
                      \                            (temp4 end))\n                \
                      \              (and (<= temp2 temp3)\n                     \
                      \          (<= temp3 temp4)))\n                           ch\
                      \ \n                           \"\"))\n                    \
                      \   u10))}))\n     {start: (get start acc),\n      end: (get\
                      \ end acc),\n      cursor: (get cursor temp1),\n      data:\
                      \ (get data temp1)}))))\n"
                - tx_id: 0x7402d8e52204d6c8cba7465e159e79750338c3ee31d4fe6ddef1d4d226304b65
                  nonce: 1
                  fee_rate: "227"
                  sender_address: SP1HJDP35SSMYP98CG8SHMYHMZDK0A495ZCH6ARYS
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions:
                  - type: stx
                    condition_code: sent_equal_to
                    amount: "88884500"
                    principal:
                      type_id: principal_standard
                      address: SP2J6HSSDYSTM71S0K0KK4YWRKX59JN1AD52M4B59
                  anchor_mode: any
                  tx_status: pending
                  receipt_time: 1626286631
                  receipt_time_iso: 2021-07-14T18:17:11.000Z
                  tx_type: contract_call
                  contract_call:
                    contract_id: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.send-many-memo
                    function_name: send-many
                    function_signature: (define-public (send-many (recipients (list
                      200 (tuple (memo (buff 34)) (to principal) (ustx uint))))))
                    function_args:
                    - hex: 0x0b000000010c00000003046d656d6f020000000e357a62597346716a52336d736b7102746f0516b734e97043840503dc1091661c105d32b7c5c75d047573747801000000000000000000000000054c4514
                      repr: (list (tuple (memo 0x357a62597346716a52336d736b71) (to
                        SP2VK9TBG8E20A0YW228PC70GBMSBFHE7BNVMKB57) (ustx u88884500)))
                      name: recipients
                      type: (list 200 (tuple (memo (buff 34)) (to principal) (ustx
                        uint)))
              schema:
                $ref: '#/components/schemas/MempoolTransactionListResponse'
          description: List of mempool transactions
      summary: Get mempool transactions
      tags:
      - Transactions
  /extended/v2/mempool/fees:
    get:
      description: |
        Returns estimated fee priorities (in micro-STX) for all transactions that are currently in the mempool. Also returns priorities separated by transaction type.
      operationId: get_mempool_fee_priorities
      responses:
        "200":
          content:
            application/json:
              example:
                all:
                  no_priority: 3000
                  low_priority: 3000
                  medium_priority: 6000
                  high_priority: 401199
                token_transfer:
                  no_priority: 3000
                  low_priority: 3000
                  medium_priority: 6000
                  high_priority: 401199
                smart_contract:
                  no_priority: 837500
                  low_priority: 925000
                  medium_priority: 1012500
                  high_priority: 1082500
                contract_call:
                  no_priority: 3000
                  low_priority: 10368
                  medium_priority: 100000
                  high_priority: 1000000
              schema:
                $ref: '#/components/schemas/MempoolFeePriorities'
          description: Mempool fee priorities
      summary: Get mempool transaction fee priorities
      tags:
      - Mempool
  /extended/v1/tx/mempool/dropped:
    get:
      description: |
        Retrieves all recently-broadcast transactions that have been dropped from the mempool.

        Transactions are dropped from the mempool if:
         * they were stale and awaiting garbage collection or,
         * were expensive,  or
         * were replaced with a new fee
      operationId: get_dropped_mempool_transaction_list
      parameters:
      - description: max number of mempool transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 96
          maximum: 200
          type: integer
        style: form
      - description: index of first mempool transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 96
                offset: 0
                total: 5
                results:
                - tx_id: 0xb31df5a363dad31723324cb5e0eefa04d491519fd30827a521cbc830114aa50c
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598288370
                  receipt_time_iso: 2020-08-24T16:59:30.000Z
                  fee_rate: "180"
                  sender_address: STB44HYPYAT2BB2QE513NSP81HTMYWBJP02HPGK6
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST1GY25DM8RZV4X15X07THRZ2C5NMWPGQWKFGV87F
                    amount: "500000"
                    memo: 0x46617563657400000000000000000000000000000000000000000000000000000000
                - tx_id: 0x5bed8e3f801cb4e2c74d2815a092f7c1c6a35f2fce4a80c80ca70848d34cb395
                  tx_status: pending
                  tx_type: token_transfer
                  receipt_time: 1598282326
                  receipt_time_iso: 2020-08-24T15:18:46.000Z
                  fee_rate: "180"
                  sender_address: ST1PS1KF93VBY5A1JV7TM66KN046KP3E3761DBSAG
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  token_transfer:
                    recipient_address: ST2H33S8SEY27QKEKQKR6S5PECYPKY45CQYGGQR8X
                    amount: "1000"
                    memo: 0x00000000000000000000000000000000000000000000000000000000000000000000
                - tx_id: 0x9916036fde08a207e581cdcabc18ff55469861cb81194ab0e3e7c9a02cd5a17c
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598258958
                  receipt_time_iso: 2020-08-24T08:49:18.000Z
                  fee_rate: "2000"
                  sender_address: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8.test-loans-1
                    source_code: |-
                      (define-data-var stx-loaned int 0)
                      (define-data-var lockup-period int 0)
                      (define-data-var stx-return int 0)
                      (define-public (get-stx-return (stx uint) (months uint))
                          (ok
                              (begin
                                  (var-set stx-loaned (to-int(stx))
                                  (var-set lockup-period (to-int(months))
                                  (calculate-stx-return)
                                  (print (var-get stx-return))
                                  (transfer-to-server)
                              )
                          )
                      )
                      (define-private (calculate-stx-return)
                          (ok
                              (begin
                                  (var-set stx-return (- (+ (* (/ (* (var-get stx-loaned) 5) 100) (var-get lockup-period)) (var-get stx-loaned)) 5))
                              )
                          )
                      )
                      (define-private (transfer-to-server)
                        (begin
                          (unwrap-panic (stx-transfer? (to-uint (var-get stx-loaned)) tx-sender 'ST2R1XSFXYHCSFE426HP45TTD8ZWV9XHX2SRP3XA8))
                          (ok (to-uint (var-get stx-loaned)))
                        )
                      )
                - tx_id: 0x871fb186c8d6ac6ede2822c71074d9884b593c0d7f2d0d6e8516e615484d7501
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230365
                  receipt_time_iso: 2020-08-24T00:52:45.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230358601
                    source_code: ";; ## CUSTOM FUNCTION TO EXTRACT A SUBSTRING\n\n\
                      (define-read-only (subs (source (buff 10)) \n              \
                      \          (start int) \n                        (end int))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 0 start) (<= start 10))\
                      \ (ok 1) (err \"Out of bounds: start\")))\n  (unwrap-panic (if\
                      \ (and (<= 0 end) (<= end 10)) (ok 1) (err \"Out of bounds:\
                      \ end\")))\n  (let ((temp1 (fold subs1 source \n           \
                      \       {start: start, end: end, cursor: 1, data: \"\"})))\n\
                      \   (let ((data (get data temp1))) \n       data))))\n    \n\
                      ;; Call the function to extract the substring between the bounds:\n\
                      \n;; (subs \"123456789\" 2 5)\n\n(define-read-only (subs1 \n\
                      \                    (ch (buff 1))\n                    (acc\
                      \ {data: (buff 10), \n                          start: int,\n\
                      \                          end: int,\n                     \
                      \     cursor: int})) \n  (let ((data (get data acc))\n     \
                      \   (start (get start acc))\n        (cursor (get cursor acc))\n\
                      \        (end (get end acc)))                              \
                      \       \n    (let ((temp2 \n           {cursor: (+ 1 cursor),\n\
                      \            data: (default-to \"\"\n                     (as-max-len?\n\
                      \                       (concat data \n                    \
                      \     (if (let ((temp3 start)\n                            \
                      \       (temp4 cursor)\n                                   (temp5\
                      \ end))\n                              (and (<= temp3 temp4)\n\
                      \                               (<= temp4 temp5)))\n       \
                      \                    ch \n                           \"\"))\n\
                      \                       u10))}))\n     {start: (get start acc),\n\
                      \      end: (get end acc),\n      cursor: (get cursor temp2),\n\
                      \      data: (get data temp2)})))\n"
                - tx_id: 0x66df10d99d3a26018f521d60e9f744b083386c73e47ad39c394d570abee55f1f
                  tx_status: pending
                  tx_type: smart_contract
                  receipt_time: 1598230066
                  receipt_time_iso: 2020-08-24T00:47:46.000Z
                  fee_rate: "2000"
                  sender_address: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: any
                  smart_contract:
                    contract_id: ST1FJGMWPGM1P7N0K3N9QEPZK5H1VDC5YWTVMEAZ1.contract-hook-1598230054238
                    source_code: "(define-read-only (subs1 \n                    (ch\
                      \ (buff 1))\n                    (acc {data: (buff 10), \n \
                      \                         start: int,\n                    \
                      \      end: int,\n                          cursor: int}))\n\
                      \ (begin\n  (unwrap-panic (if (and (<= 1 (get start acc)) (<=\
                      \ (get start acc) 10)) (ok 1) (err \"Out of bounds: start\"\
                      )))\n  (unwrap-panic (if (and (<= 1 (get end acc)) (<= (get\
                      \ end acc) 10)) (ok 1) (err \"Out of bounds: end\")))\n  (unwrap-panic\
                      \ (if (and (<= 1 (get cursor acc)) (<= (get cursor acc) 10))\
                      \ (ok 1) (err \"Out of bounds: cursor\")))\n  (let ((data (get\
                      \ data acc))\n        (start (get start acc))\n        (cursor\
                      \ (get cursor acc))\n        (end (get end acc)))          \
                      \                           \n    (let ((temp1 \n          \
                      \ {cursor: (+ 1 cursor),\n            data: (default-to \"\"\
                      \n                     (as-max-len?\n                      \
                      \ (concat data \n                         (if (let ((temp2 start)\n\
                      \                                   (temp3 cursor)\n       \
                      \                            (temp4 end))\n                \
                      \              (and (<= temp2 temp3)\n                     \
                      \          (<= temp3 temp4)))\n                           ch\
                      \ \n                           \"\"))\n                    \
                      \   u10))}))\n     {start: (get start acc),\n      end: (get\
                      \ end acc),\n      cursor: (get cursor temp1),\n      data:\
                      \ (get data temp1)}))))\n"
                - tx_id: 0x7402d8e52204d6c8cba7465e159e79750338c3ee31d4fe6ddef1d4d226304b65
                  nonce: 1
                  fee_rate: "227"
                  sender_address: SP1HJDP35SSMYP98CG8SHMYHMZDK0A495ZCH6ARYS
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions:
                  - type: stx
                    condition_code: sent_equal_to
                    amount: "88884500"
                    principal:
                      type_id: principal_standard
                      address: SP2J6HSSDYSTM71S0K0KK4YWRKX59JN1AD52M4B59
                  anchor_mode: any
                  tx_status: pending
                  receipt_time: 1626286631
                  receipt_time_iso: 2021-07-14T18:17:11.000Z
                  tx_type: contract_call
                  contract_call:
                    contract_id: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.send-many-memo
                    function_name: send-many
                    function_signature: (define-public (send-many (recipients (list
                      200 (tuple (memo (buff 34)) (to principal) (ustx uint))))))
                    function_args:
                    - hex: 0x0b000000010c00000003046d656d6f020000000e357a62597346716a52336d736b7102746f0516b734e97043840503dc1091661c105d32b7c5c75d047573747801000000000000000000000000054c4514
                      repr: (list (tuple (memo 0x357a62597346716a52336d736b71) (to
                        SP2VK9TBG8E20A0YW228PC70GBMSBFHE7BNVMKB57) (ustx u88884500)))
                      name: recipients
                      type: (list 200 (tuple (memo (buff 34)) (to principal) (ustx
                        uint)))
              schema:
                $ref: '#/components/schemas/MempoolTransactionListResponse'
          description: List of dropped mempool transactions
      summary: Get dropped mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/mempool/stats:
    get:
      description: |
        Queries for transactions counts, age (by block height), fees (simple average), and size.
        All results broken down by transaction type and percentiles (p25, p50, p75, p95).
      operationId: get_mempool_transaction_stats
      responses:
        "200":
          content:
            application/json:
              example:
                tx_type_counts:
                  token_transfer: 130
                  smart_contract: 2
                  contract_call: 310
                  poison_microblock: 0
                tx_simple_fee_averages:
                  token_transfer:
                    p25: 3000
                    p50: 3000
                    p75: 6000
                    p95: 401199.9999999995
                  smart_contract:
                    p25: 837500
                    p50: 925000
                    p75: 1012500
                    p95: 1082500
                  contract_call:
                    p25: 3000
                    p50: 10368
                    p75: 100000
                    p95: 1000000
                  poison_microblock:
                    p25: null
                    p50: null
                    p75: null
                    p95: null
                tx_ages:
                  token_transfer:
                    p25: 167.5
                    p50: 45
                    p75: 1
                    p95: 0
                  smart_contract:
                    p25: 185.5
                    p50: 129
                    p75: 72.5
                    p95: 27.30000000000001
                  contract_call:
                    p25: 189
                    p50: 127.5
                    p75: 9.5
                    p95: 0
                  poison_microblock:
                    p25: null
                    p50: null
                    p75: null
                    p95: null
                tx_byte_sizes:
                  token_transfer:
                    p25: 180
                    p50: 180
                    p75: 180
                    p95: 180
                  smart_contract:
                    p25: 706.75
                    p50: 814.5
                    p75: 922.25
                    p95: 1008.45
                  contract_call:
                    p25: 291
                    p50: 435
                    p75: 462
                    p95: 597
                  poison_microblock:
                    p25: null
                    p50: null
                    p75: null
                    p95: null
              schema:
                $ref: '#/components/schemas/MempoolTransactionStatsResponse'
          description: Statistics for mempool transactions
      summary: Get statistics for mempool transactions
      tags:
      - Transactions
  /extended/v1/tx/multiple:
    get:
      description: |
        Retrieves a list of transactions for a given list of transaction IDs

        If using TypeScript, import typings for this response from our types package:

        `import type { Transaction } from '@stacks/stacks-blockchain-api-types';`
      operationId: get_tx_list_details
      parameters:
      - description: Array of transaction ids
        explode: true
        in: query
        name: tx_id
        required: true
        schema:
          example:
          - 0x0a411719e3bfde95f9e227a2d7f8fac3d6c646b1e6cc186db0e2838a2c6cd9c0
          - 0xfbe6412b46e9db87df991a0d043ff47eb58019f770208cf48e2380337cc31785
          - 0x178b77678a758d9f29a147d6399315c83d0f1baf114431fbe4d3587aa5fbba6f
          items:
            type: string
          type: array
        style: form
      - description: The number of events to skip
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of events to return
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 96
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                "0x8911000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8911000000000000000000000000000000000000000000000000000000000000
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: 0x0123
                    parent_block_hash: 0x5678
                    block_height: 0
                    burn_block_height: 69287
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8915000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8915000000000000000000000000000000000000000000000000000000000000
                    nonce: 1000
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: true
                    sponsor_address: sponsor-addr
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    is_unanchored: false
                    block_hash: 0x0123
                    parent_block_hash: 0x5678
                    block_height: 0
                    burn_block_height: 69287
                    burn_block_time: 39486
                    burn_block_time_iso: 1970-01-01T10:58:06.000Z
                    parent_burn_block_time: 1626122935
                    parent_burn_block_time_iso: 2021-07-12T20:48:55.000Z
                    canonical: true
                    tx_index: 4
                    tx_status: success
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    event_count: 0
                    events: []
                    execution_cost_read_count: 0
                    execution_cost_read_length: 0
                    execution_cost_runtime: 0
                    execution_cost_write_count: 0
                    execution_cost_write_length: 0
                    tx_type: coinbase
                "0x8912000000000000000000000000000000000000000000000000000000000000":
                  found: true
                  result:
                    tx_id: 0x8912000000000000000000000000000000000000000000000000000000000000
                    nonce: 0
                    fee_rate: "1234"
                    sender_address: sender-addr
                    sponsored: false
                    post_condition_mode: allow
                    post_conditions: []
                    anchor_mode: any
                    tx_status: pending
                    receipt_time: 1594307695
                    receipt_time_iso: 2020-07-09T15:14:55.000Z
                    tx_type: coinbase
                "0x8914000000000000000000000000000000000000000000000000000000000000":
                  found: false
                  result:
                    tx_id: 0x8914000000000000000000000000000000000000000000000000000000000000
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/TransactionList'
                title: TransactionList
                type: object
          description: Returns list of transactions with their details for corresponding
            requested tx_ids.
        "404":
          description: Could not find any transaction by ID
      summary: Get list of details for transactions
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}:
    get:
      description: |
        Retrieves transaction details for a given transaction ID

        `import type { Transaction } from '@stacks/stacks-blockchain-api-types';`
      operationId: get_transaction_by_id
      parameters:
      - description: Hash of transaction
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          example: 0x0a411719e3bfde95f9e227a2d7f8fac3d6c646b1e6cc186db0e2838a2c6cd9c0
          type: string
        style: simple
      - description: The number of events to skip
        explode: true
        in: query
        name: event_offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      - description: The numbers of events to return
        explode: true
        in: query
        name: event_limit
        required: false
        schema:
          default: 96
          type: integer
        style: form
      - description: Include transaction data from unanchored (i.e. unconfirmed) microblocks
        explode: true
        in: query
        name: unanchored
        required: false
        schema:
          default: false
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                tx_id: 0x5e9f3933e358df6a73fec0d47ce3e1062c20812c129f5294e6f37a8d27c051d9
                tx_status: success
                tx_type: coinbase
                fee_rate: "0"
                sender_address: ST3WCQ6S0DFT7YHF53M8JPKGDS1N1GSSR91677XF1
                sponsored: false
                post_condition_mode: deny
                is_unanchored: false
                microblock_hash: ""
                microblock_sequence: 2147483647
                microblock_canonical: true
                block_hash: 0x58412b50266debd0c35b1a20348ad9c0f17e5525fb155a97033256c83c9e2491
                block_height: 3231
                burn_block_time: 1594230455
                canonical: true
                tx_index: 0
                tx_result:
                  hex: 0x03
                  repr: "true"
                coinbase_payload:
                  data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/Transaction'
          description: Transaction
        "404":
          description: Cannot find transaction for given ID
      summary: Get transaction
      tags:
      - Transactions
  /extended/v1/tx/{tx_id}/raw:
    get:
      description: |
        Retrieves a hex encoded serialized transaction for a given ID
      operationId: get_raw_transaction_by_id
      parameters:
      - description: Hash of transaction
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          example: 0x0a411719e3bfde95f9e227a2d7f8fac3d6c646b1e6cc186db0e2838a2c6cd9c0
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                raw_tx: 0x1234
              schema:
                $ref: '#/components/schemas/GetRawTransactionResult'
          description: Hex encoded serialized transaction
        "404":
          description: Cannot find transaction for given ID
      summary: Get Raw Transaction
      tags:
      - Transactions
  /v2/transactions:
    post:
      description: "Broadcasts raw transactions on the network. You can use the [@stacks/transactions](https://github.com/blockstack/stacks.js)\
        \ project to generate a raw transaction payload."
      operationId: post_core_node_transactions
      requestBody:
        content:
          application/octet-stream:
            schema:
              example: !!binary |-
                YmluYXJ5IGZvcm1hdCBvZiAwMDAwMDAwMDAxMDQwMGJlZDM4YzJhYWRmZmEzNDg5MzFiY2I1NDI4
                ODBmZjc5ZDYwN2FmZWMwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDBjODAwMDEyYjBiMWZm
                ZjZjY2NkMDk3NDk2NmRjZDY2NTgzNTgzOGYwOTg1YmU1MDhlMTMyMmUwOWZiM2Q3NTFlY2ExMzJj
                NDkyYmRhNzIwZjllZjE3NjhkMTRmZGFiZWQ2MTI3NTYwYmE1MmQ1ZTNhYzQ3MGRjYjYwYjc4NGU5
                N2RjODhjOTAzMDIwMDAwMDAwMDAwMDUxNmRmMGJhM2U3OTc5MmJlN2JlNWU1MGEzNzAyODlhY2Nm
                YzhjOWUwMzIwMDAwMDAwMDAwMDAzMDM5NzQ2NTczNzQyMDZkNjU2ZDZmMDAwMDAwMDAwMDAwMDAw
                MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDA=
              format: binary
              type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                example: e161978626f216b2141b156ade10501207ae535fa365a13ef5d7a7c9310a09f2
                type: string
          description: Transaction id of successful post of a raw tx to the node's
            mempool
        "400":
          content:
            application/json:
              example:
                error: transaction rejected
                reason: BadNonce
                reason_data:
                  actual: 4
                  expected: 0
                  is_origin: true
                  principal: ST2ZRX0K27GW0SP3GJCEMHD95TQGJMKB7G9Y0X1MH
                txid: caf6fd60ae05b0c2d19ef14ab6a7670b1095d117fa7c80224c74e76214d0a791
              schema:
                $ref: '#/components/schemas/PostCoreNodeTransactionsError'
          description: Rejections result in a 400 error
      summary: Broadcast raw transaction
      tags:
      - Transactions
  /extended/v1/microblock:
    get:
      description: |
        Retrieves a list of microblocks.

        If you need to actively monitor new microblocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_microblock_list
      parameters:
      - description: Max number of microblocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          example: 100
          maximum: 200
          type: integer
        style: form
      - description: Index of the first microblock to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MicroblockListResponse'
          description: List of microblocks
      summary: Get recent microblocks
      tags:
      - Microblocks
  /extended/v1/microblock/{hash}:
    get:
      description: Retrieves a specific microblock by `hash`
      operationId: get_microblock_by_hash
      parameters:
      - description: Hash of the microblock
        explode: false
        in: path
        name: hash
        required: true
        schema:
          example: 0x3bfcdf84b3012adb544cf0f6df4835f93418c2269a3881885e27b3d58eb82d47
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microblock'
          description: Microblock
        "404":
          content:
            application/json:
              example:
                error: cannot find microblock by hash 0xabc123
          description: Cannot find microblock with given hash
      summary: Get microblock
      tags:
      - Microblocks
  /extended/v1/microblock/unanchored/txs:
    get:
      description: Retrieves transactions that have been streamed in microblocks but
        not yet accepted or rejected in an anchor block
      operationId: get_unanchored_txs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnanchoredTransactionListResponse'
          description: Transactions
      summary: Get the list of current transactions that belong to unanchored microblocks
      tags:
      - Microblocks
  /extended/v2/burn-blocks:
    get:
      description: |
        Retrieves a list of recent burn blocks
      operationId: get_burn_blocks
      parameters:
      - description: max number of burn blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          type: integer
        style: form
      - description: index of first burn block to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                - burn_block_time: 1626281749
                  burn_block_time_iso: 2021-07-14T16:55:49.000Z
                  burn_block_hash: 0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8b0bcb
                  burn_block_height: 691014
                  stacks_blocks:
                  - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                  - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                  - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
                  avg_block_time: 15.3
                  total_tx_count: 728
              schema:
                $ref: '#/components/schemas/BurnBlockListResponse'
          description: List of burn blocks
      summary: Get burn blocks
      tags:
      - Burn Blocks
  /extended/v2/burn-blocks/{height_or_hash}:
    get:
      description: Retrieves a single burn block
      operationId: get_burn_block
      parameters:
      - description: "filter by burn block height, hash, or the constant `latest`\
          \ to filter for the most recent burn block"
        explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: 0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e18fe2
                burn_block_height: 654439
                stacks_blocks:
                - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
                avg_block_time: 15.3
                total_tx_count: 728
              schema:
                $ref: '#/components/schemas/BurnBlock'
          description: Burn block
      summary: Get burn block
      tags:
      - Burn Blocks
  /extended/v2/burn-blocks/{height_or_hash}/blocks:
    get:
      description: |
        Retrieves a list of blocks confirmed by a specific burn block
      operationId: get_blocks_by_burn_block
      parameters:
      - description: "filter by burn block height, hash, or the constant `latest`\
          \ to filter for the most recent burn block"
        explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      - description: max number of blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: index of first burn block to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                - canonical: true
                  height: 21698
                  hash: 0x9be3e38eab9c7d094fd51792383c66706838d6392e95bc05cc730b8f7520e352
                  parent_block_hash: 0x76ee36d1d6c88e56b5c0e80f0d7bc7d3492141faf1b900efb19fcd00457d4654
                  burn_block_time: 1626281749
                  burn_block_time_iso: 2021-07-14T16:55:49.000Z
                  burn_block_hash: 0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8b0bcb
                  burn_block_height: 691014
                  miner_txid: 0x118f7122a69441d13e6a3dfd4c3b0f9950be25195bb8126aae7fadea1aa9185d
                  txs:
                  - 0x76f58b2eaff65a07a5971b241c4e71fee92ee0f9396809f911f90839f9004cac
                  - 0x32972d9052b068f218f6e13451f7aff937099b74bbf95fac7d9402295b1b3941
                  - 0x8cd30724c02a9cc1d8879a34dc136ebfdb2008420badcfb5947b92f85ebce79b
                  - 0xf5c1577f42d3753a508101e045dd2dc60491eb0aa552e0ecd0ad37cc697143f4
                  - 0x35e4c20e2838f999e0cf0b40c5fabce154c2df1912a1074150d26784c53f7a20
                  - 0x501eb42b82e5b7a7350b47fa143cd4e90bb46d43e4a7d22830b2bf2aa70b7922
              schema:
                $ref: '#/components/schemas/NakamotoBlockListResponse'
          description: List of blocks
      summary: Get blocks by burn block
      tags:
      - Blocks
  /extended/v2/blocks:
    get:
      description: |
        Retrieves a list of recently mined blocks
      operationId: get_blocks
      parameters:
      - description: max number of blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: index of first burn block to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                - canonical: true
                  height: 21698
                  hash: 0x9be3e38eab9c7d094fd51792383c66706838d6392e95bc05cc730b8f7520e352
                  parent_block_hash: 0x76ee36d1d6c88e56b5c0e80f0d7bc7d3492141faf1b900efb19fcd00457d4654
                  burn_block_time: 1626281749
                  burn_block_time_iso: 2021-07-14T16:55:49.000Z
                  burn_block_hash: 0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8b0bcb
                  burn_block_height: 691014
                  miner_txid: 0x118f7122a69441d13e6a3dfd4c3b0f9950be25195bb8126aae7fadea1aa9185d
                  txs:
                  - 0x76f58b2eaff65a07a5971b241c4e71fee92ee0f9396809f911f90839f9004cac
                  - 0x32972d9052b068f218f6e13451f7aff937099b74bbf95fac7d9402295b1b3941
                  - 0x8cd30724c02a9cc1d8879a34dc136ebfdb2008420badcfb5947b92f85ebce79b
                  - 0xf5c1577f42d3753a508101e045dd2dc60491eb0aa552e0ecd0ad37cc697143f4
                  - 0x35e4c20e2838f999e0cf0b40c5fabce154c2df1912a1074150d26784c53f7a20
                  - 0x501eb42b82e5b7a7350b47fa143cd4e90bb46d43e4a7d22830b2bf2aa70b7922
              schema:
                $ref: '#/components/schemas/NakamotoBlockListResponse'
          description: List of blocks
      summary: Get blocks
      tags:
      - Blocks
  /extended/v2/blocks/average-times:
    get:
      description: |
        Retrieves average block times (in seconds)
      operationId: get_average_block_times
      responses:
        "200":
          content:
            application/json:
              example:
                last_1h: 846.75
                last_24h: 635.2
                last_7d: 731.26
                last_30d: 738.67
              schema:
                $ref: '#/components/schemas/AverageBlockTimesResponse'
          description: Average block times (in seconds)
      summary: Get average block times
      tags:
      - Blocks
  /extended/v2/blocks/{height_or_hash}:
    get:
      description: |
        Retrieves a single block
      operationId: get_block
      parameters:
      - description: "filter by block height, hash, index block hash or the constant\
          \ `latest` to filter for the most recent block"
        explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                canonical: true
                height: 3275
                hash: 0xe77ba8cf6bb7c0e4f64adc83356289ed467d31a22354907b4bb814590058430f
                block_time: 1594233639
                block_time_iso: 2020-08-27T16:41:26.000Z
                index_block_hash: 0x918697ef63f9d8bdf844c3312b299e72a231cde542f3173f7755bb8c1cdaf3a7
                parent_block_hash: 0x75ab21ef25cbff2caa14c27d830ed7886a4d1522e1b6f9e5dc3b59ccf73ed49f
                parent_index_block_hash: 0x4262db117659d1ca9406970c8f44ffd3d8f11f8e18c591d2e3960f4070107756
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: 0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e18fe2
                burn_block_height: 654439
                miner_txid: 0xd7d56070277ccd87b42acf0c91f915dd181f9db4cf878a4e95518bc397c240cc
                tx_count: 3
                execution_cost_read_count: 2477
                execution_cost_read_length: 1659409
                execution_cost_runtime: 2520952000
                execution_cost_write_count: 608
                execution_cost_write_length: 80170
              schema:
                $ref: '#/components/schemas/NakamotoBlock'
          description: Block
      summary: Get block
      tags:
      - Blocks
  /extended/v2/blocks/{height_or_hash}/transactions:
    get:
      description: |
        Retrieves transactions confirmed in a single block
      operationId: get_transactions_by_block
      parameters:
      - description: "filter by block height, hash, index block hash or the constant\
          \ `latest` to filter for the most recent block"
        explode: false
        in: path
        name: height_or_hash
        required: true
        schema:
          $ref: '#/components/schemas/get_burn_block_height_or_hash_parameter'
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 10
                offset: 0
                total: 101922
                results:
                - tx_id: 0x20dedbef812e44d712569224411b27324b68ab4667321a4badd5e81ba76bf0eb
                  nonce: 269
                  fee_rate: "0"
                  sender_address: SPQXK10DBF5ECAM30XVE3EJA8DNZF3VE0BK4MKV
                  sponsored: false
                  post_condition_mode: deny
                  post_conditions: []
                  anchor_mode: on_chain_only
                  is_unanchored: false
                  block_hash: 0x28a9e2749b82bdc058776781a5abd5c9a6efed38f05545a8a51152655b8e1f4b
                  parent_block_hash: 0x3789b75ccfe7f2acf85c3f069fd5b8f95f73aba5332fa618243957d1c017a2a3
                  block_height: 21709
                  burn_block_height: 51396
                  burn_block_time: 1626286436
                  burn_block_time_iso: 2021-07-14T18:13:56.000Z
                  canonical: true
                  tx_index: 0
                  tx_status: success
                  tx_result:
                    hex: 0x0703
                    repr: (ok true)
                  microblock_hash: ""
                  microblock_sequence: 2147483647
                  microblock_canonical: true
                  event_count: 0
                  events: []
                  tx_type: coinbase
                  coinbase_payload:
                    data: 0x0000000000000000000000000000000000000000000000000000000000000000
              schema:
                $ref: '#/components/schemas/TransactionResults'
          description: List of transactions
      summary: Get transactions by block
      tags:
      - Transactions
  /extended/v2/addresses/{address}/transactions:
    get:
      description: |
        Retrieves a paginated list of confirmed transactions sent or received by a STX address or Smart Contract ID, alongside the total amount of STX sent or received and the number of STX, FT and NFT transfers contained within each transaction.

        More information on Transaction types can be found [here](https://docs.stacks.co/understand-stacks/transactions#types).
      operationId: get_address_transactions
      parameters:
      - description: STX address or Smart Contract ID
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: SP31DA6FTSJX2WGTZ69SFY11BH51NZMB0ZW97B5P0
          type: string
        style: simple
      - description: Number of transactions to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Index of first transaction to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 2
                results:
                - tx:
                    tx_id: 0x34d79c7cfc2fe525438736733e501a4bf0308a5556e3e080d1e2c0858aad7448
                    tx_type: contract_call
                    nonce: 11
                    fee_rate: "346"
                    sender_address: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    sponsored: false
                    post_condition_mode: deny
                    tx_status: success
                    block_hash: 0x13d1b4ad35c95bca209397420fb8af104d2929d91993ba056d7a1ca5470095f9
                    block_height: 3246
                    burn_block_time: 1613009951
                    burn_block_time_iso: 2021-02-11T02:19:11.000Z
                    canonical: true
                    is_unanchored: false
                    microblock_hash: 0x590a1bb1d7bcbeafce0a9fc8f8a69e369486192d14687fe95fbe4dc1c71d49df
                    microblock_sequence: 5
                    microblock_canonical: true
                    tx_index: 1
                    tx_result:
                      hex: 0x0703
                      repr: (ok true)
                    post_conditions:
                    - type: stx
                      condition_code: sent_equal_to
                      amount: "350"
                      principal:
                        type_id: principal_standard
                        address: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    contract_call:
                      contract_id: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE.send-many-memo
                      function_name: send-many
                      function_signature: (define-public (send-many (recipients (list
                        200 (tuple (memo (buff 34)) (to principal) (ustx uint))))))
                      function_args:
                      - hex: 0x0b000000020c00000003046d656d6f020000000966697273746d656d6f02746f05168c031b2db5895ece0cdfbf76e0b0e8af67226a6f047573747801000000000000000000000000000000960c00000003046d656d6f020000000a7365636f6e646d656d6f02746f05168974da696d74a16d0955bc8e55720dfd39e789cf047573747801000000000000000000000000000000c8
                        repr: (list (tuple (memo 0x66697273746d656d6f) (to SP26066SDPP4NXKGCVYZQDR5GX2QPE8KADZ0YK2J7)
                          (ustx u150)) (tuple (memo 0x7365636f6e646d656d6f) (to SP24Q9PK9DNTA2V89APY8WNBJ1QYKKSW9SWB04RJP)
                          (ustx u200)))
                        name: recipients
                        type: (list 200 (tuple (memo (buff 34)) (to principal) (ustx
                          uint)))
                    events: []
                    event_count: 4
                  stx_sent: "696"
                  stx_received: "0"
                  events:
                    stx:
                      transfer: 2
                      mint: 0
                      burn: 0
                    ft:
                      transfer: 1
                      mint: 0
                      burn: 0
                    nft:
                      transfer: 1
                      mint: 0
                      burn: 0
                - tx:
                    tx_id: 0x628045bff13658396277d618e9a3e4d468a4b3876eff4941d2f13ed88cd7abb7
                    tx_type: token_transfer
                    nonce: 8
                    fee_rate: "180"
                    sender_address: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    sponsored: false
                    post_condition_mode: deny
                    tx_status: success
                    block_hash: 0x2b8599696f64e2456c67b1ab5e63078f99d87bd1d903c37fdcfd73b1890a7551
                    block_height: 1761
                    burn_block_time: 1611968237
                    burn_block_time_iso: 2021-01-30T00:57:17.000Z
                    canonical: true
                    is_unanchored: false
                    microblock_hash: ""
                    microblock_sequence: 2147483647
                    microblock_canonical: true
                    tx_index: 2
                    tx_result:
                      hex: 0x0703
                      repr: (ok true)
                    token_transfer:
                      recipient_address: SPRSM0R2JZWBCZ39NQBARWTMX9TE99K3JK8D5KMX
                      amount: "100000"
                      memo: 0x57656c636f6d6520746f20426f6f6d2e000000000000000000000000000000000000
                    events: []
                    event_count: 1
                  stx_sent: "100180"
                  stx_received: "0"
                  events:
                    stx:
                      transfer: 1
                      mint: 0
                      burn: 0
                    ft:
                      transfer: 0
                      mint: 0
                      burn: 0
                    nft:
                      transfer: 0
                      mint: 0
                      burn: 0
              schema:
                $ref: '#/components/schemas/AddressTransactionsV2ListResponse'
          description: Success
      summary: Get address transactions
      tags:
      - Transactions
  /extended/v2/addresses/{address}/transactions/{tx_id}/events:
    get:
      description: |
        Retrieves a paginated list of all STX, FT and NFT events concerning a STX address or Smart Contract ID within a specific transaction.
      operationId: get_address_transaction_events
      parameters:
      - description: STX address or Smart Contract ID
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: SP31DA6FTSJX2WGTZ69SFY11BH51NZMB0ZW97B5P0
          type: string
        style: simple
      - description: Transaction ID
        explode: false
        in: path
        name: tx_id
        required: true
        schema:
          example: 0x0a411719e3bfde95f9e227a2d7f8fac3d6c646b1e6cc186db0e2838a2c6cd9c0
          type: string
        style: simple
      - description: Number of events to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 20
          type: integer
        style: form
      - description: Index of first event to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 10
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 4
                results:
                - type: stx
                  event_index: 0
                  data:
                    type: transfer
                    amount: "200"
                    sender: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    recipient: SP24Q9PK9DNTA2V89APY8WNBJ1QYKKSW9SWB04RJP
                - type: stx
                  event_index: 1
                  data:
                    type: transfer
                    amount: "150"
                    sender: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    recipient: SP26066SDPP4NXKGCVYZQDR5GX2QPE8KADZ0YK2J7
                - type: ft
                  event_index: 5
                  data:
                    type: transfer
                    amount: "103"
                    asset_identifier: SP466FNC0P7JWTNM2R9T199QRZN1MYEDTAR0KP27.miamicoin-token::miamicoin
                    sender: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    recipient: SP24Q9PK9DNTA2V89APY8WNBJ1QYKKSW9SWB04RJP
                - type: nft
                  event_index: 6
                  data:
                    type: transfer
                    asset_identifier: SP497E7RX3233ATBS2AB9G4WTHB63X5PBSP5VGAQ.boom-nfts::boom
                    value:
                      hex: 0x00
                      repr: "0"
                    sender: SP3FBR2AGK5H9QBDH3EEN6DF8EK8JY7RX8QJ5SVTE
                    recipient: SP24Q9PK9DNTA2V89APY8WNBJ1QYKKSW9SWB04RJP
              schema:
                $ref: '#/components/schemas/AddressTransactionEventListResponse'
          description: Success
      summary: Get events for an address transaction
      tags:
      - Transactions
  /extended/v2/smart-contracts/status:
    get:
      description: |
        Retrieves the deployment status of multiple smart contracts.
      operationId: get_smart_contracts_status
      parameters:
      - description: contract ids to fetch status for
        explode: true
        in: query
        name: contract_id
        required: true
        schema:
          example: SPQZF23W7SEYBFG5JQ496NMY0G7379SRYEDREMSV.Candy
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                SP3K8BC0PPEVCV7NZ6QSRWPQ2JE9E5B6N3PA0KBR9.swap-helper-bridged-v1-1:
                  found: true
                  result:
                    contract_id: SP3K8BC0PPEVCV7NZ6QSRWPQ2JE9E5B6N3PA0KBR9.swap-helper-bridged-v1-1
                    status: success
                    tx_id: 0x8542d28e427256ea3c29dcd8793222891999ceff4ef1bb062e2f21cb6def6884
                    block_height: 111021
                SP1JTCR202ECC6333N7ZXD7MK7E3ZTEEE1MJ73C60.name-registrar:
                  found: true
                  result:
                    contract_id: SP1JTCR202ECC6333N7ZXD7MK7E3ZTEEE1MJ73C60.name-registrar
                    status: success
                    tx_id: 0x6e1114cce8c6f2e9c8130f9acd75d67bb667ae584f882acdd2db6dd74e6cbe5e
                    block_height: 113010
                SP4SZE494VC2YC5JYG7AYFQ44F5Q4PYV7DVMDPBG.stacking-dao-core-v1:
                  found: true
                  result:
                    contract_id: SP4SZE494VC2YC5JYG7AYFQ44F5Q4PYV7DVMDPBG.stacking-dao-core-v1
                    status: pending
                    tx_id: 0x10bdcf10ffee72994f493ac36760f4e95a76c8471370182fd4705c2153dc173d
                SP4SZE494VC2YC5JYG7AYFQ44F5Q4PYV7DVMDPBG.stacking-dao-core:
                  found: false
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/SmartContractsStatusResponse'
                description: GET request that returns the deployment status of multiple
                  smart contracts
                title: SmartContractsStatusResponse
                type: object
          description: List of smart contract status
      summary: Get smart contracts status
      tags:
      - Smart Contracts
  /extended/v2/pox/cycles:
    get:
      description: Retrieves a list of PoX cycles
      operationId: get_pox_cycles
      parameters:
      - description: max number of cycles to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 60
          type: integer
        style: form
      - description: index of first cycle to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 3
                results:
                - block_height: 50
                  cycle_number: 14
                  index_block_hash: 0xf5be33abc4e508bdaf2191e88339372edcb3358c44e2a31e1b9b44f2880dde09
                  total_signers: 3
                  total_stacked_amount: "1372502700000000000"
                  total_weight: 9
                - block_height: 22
                  cycle_number: 13
                  index_block_hash: 0x5077c7d971dd83cd3ba19dca579e3cc8dcf17913186b66093c94520e50d3b7b2
                  total_signers: 3
                  total_stacked_amount: "1372502700000000000"
                  total_weight: 9
                - block_height: 13
                  cycle_number: 12
                  index_block_hash: 0x62d06851fe03f17cb45a488ae70bd8e0c5c308c523f37814ad4df36bd2108713
                  total_signers: 3
                  total_stacked_amount: "1372502700000000000"
                  total_weight: 9
              schema:
                $ref: '#/components/schemas/PoxCycleListResponse'
          description: List of cycles
      summary: Get PoX cycles
      tags:
      - Proof of Transfer
  /extended/v2/pox/cycles/{cycle_number}:
    get:
      description: Retrieves details for a PoX cycle
      operationId: get_pox_cycle
      parameters:
      - description: PoX cycle number
        explode: false
        in: path
        name: cycle_number
        required: true
        schema:
          example: 56
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                block_height: 50
                cycle_number: 14
                index_block_hash: 0xf5be33abc4e508bdaf2191e88339372edcb3358c44e2a31e1b9b44f2880dde09
                total_signers: 3
                total_stacked_amount: "1372502700000000000"
                total_weight: 9
              schema:
                $ref: '#/components/schemas/PoxCycle'
          description: Details for cycle
      summary: Get PoX cycle
      tags:
      - Proof of Transfer
  /extended/v2/pox/cycles/{cycle_number}/signers:
    get:
      description: Retrieves a list of signers in a PoX cycle
      operationId: get_pox_cycle_signers
      parameters:
      - description: PoX cycle number
        explode: false
        in: path
        name: cycle_number
        required: true
        schema:
          example: 56
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 3
                results:
                - signing_key: 0x038e3c4529395611be9abf6fa3b6987e81d402385e3d605a073f42f407565a4a3d
                  signer_address: STRYYQQ9M8KAF4NS7WNZQYY59X93XEKR31JP64CP
                  stacked_amount: "686251350000000000"
                  stacked_amount_percent: 50
                  weight: 5
                  weight_percent: 55.55555555555556
                  solo_stacker_count: 16
                  pooled_stacker_count: 3615
                - signing_key: 0x029874497a7952483aa23890e9d0898696f33864d3df90939930a1f45421fe3b09
                  signer_address: STF9B75ADQAVXQHNEQ6KGHXTG7JP305J2GRWF3A2
                  stacked_amount: "457500900000000000"
                  stacked_amount_percent: 33.333333333333336
                  weight: 3
                  weight_percent: 33.33333333333333
                  solo_stacker_count: 0
                  pooled_stacker_count: 1456
                - signing_key: 0x02dcde79b38787b72d8e5e0af81cffa802f0a3c8452d6b46e08859165f49a72736
                  signer_address: ST18MDW2PDTBSCR1ACXYRJP2JX70FWNM6YY2VX4SS
                  stacked_amount: "228750450000000000"
                  stacked_amount_percent: 16.666666666666668
                  weight: 1
                  weight_percent: 11.11111111111111
                  solo_stacker_count: 637
                  pooled_stacker_count: 0
              schema:
                $ref: '#/components/schemas/PoxCycleSignersListResponse'
          description: List of signers for cycle
      summary: Get signers in PoX cycle
      tags:
      - Proof of Transfer
  /extended/v2/pox/cycles/{cycle_number}/signers/{signer_key}:
    get:
      description: Retrieves details for a signer in a PoX cycle
      operationId: get_pox_cycle_signer
      parameters:
      - description: PoX cycle number
        explode: false
        in: path
        name: cycle_number
        required: true
        schema:
          example: 56
          type: integer
        style: simple
      - description: Signer key
        explode: false
        in: path
        name: signer_key
        required: true
        schema:
          example: 0x038e3c4529395611be9abf6fa3b6987e81d402385e3d605a073f42f407565a4a3d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                signing_key: 0x038e3c4529395611be9abf6fa3b6987e81d402385e3d605a073f42f407565a4a3d
                signer_address: STRYYQQ9M8KAF4NS7WNZQYY59X93XEKR31JP64CP
                stacked_amount: "686251350000000000"
                stacked_amount_percent: 50
                weight: 5
                weight_percent: 55.55555555555556
                solo_stacker_count: 16
                pooled_stacker_count: 3615
              schema:
                $ref: '#/components/schemas/PoxSigner'
          description: Details for PoX signer
      summary: Get signer in PoX cycle
      tags:
      - Proof of Transfer
  /extended/v2/pox/cycles/{cycle_number}/signers/{signer_key}/stackers:
    get:
      description: Retrieves a list of stackers for a signer in a PoX cycle
      operationId: get_pox_cycle_signer_stackers
      parameters:
      - description: PoX cycle number
        explode: false
        in: path
        name: cycle_number
        required: true
        schema:
          example: 56
          type: integer
        style: simple
      - description: Signer key
        explode: false
        in: path
        name: signer_key
        required: true
        schema:
          example: 0x038e3c4529395611be9abf6fa3b6987e81d402385e3d605a073f42f407565a4a3d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 20
                offset: 0
                total: 1
                results:
                - pox_address: 15Z2sAvjgVDpcBh4vx9g2XKU8FVHYcXNaj
                  stacked_amount: "686251350000000000"
                  stacker_address: STRYYQQ9M8KAF4NS7WNZQYY59X93XEKR31JP64CP
                  stacker_type: solo
              schema:
                $ref: '#/components/schemas/PoxCycleSignerStackersListResponse'
          description: List of stackers
      summary: Get stackers for signer in PoX cycle
      tags:
      - Proof of Transfer
  /extended/v1/block:
    get:
      deprecated: true
      description: |
        **NOTE:** This endpoint is deprecated in favor of [Get blocks](/api/get-blocks).

        Retrieves a list of recently mined blocks

        If you need to actively monitor new blocks, we highly recommend subscribing to [WebSockets or Socket.io](https://github.com/hirosystems/stacks-blockchain-api/tree/master/client) for real-time updates.
      operationId: get_block_list
      parameters:
      - description: max number of blocks to fetch
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 30
          type: integer
        style: form
      - description: index of first block to fetch
        explode: true
        in: query
        name: offset
        required: false
        schema:
          example: 42000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                limit: 1
                offset: 0
                total: 21707
                results:
                - canonical: true
                  height: 21698
                  hash: 0x9be3e38eab9c7d094fd51792383c66706838d6392e95bc05cc730b8f7520e352
                  parent_block_hash: 0x76ee36d1d6c88e56b5c0e80f0d7bc7d3492141faf1b900efb19fcd00457d4654
                  burn_block_time: 1626281749
                  burn_block_time_iso: 2021-07-14T16:55:49.000Z
                  burn_block_hash: 0x0000000000000000000ea16f8e906e85ee1cb4dff1e5424e93843b3cec8b0bcb
                  burn_block_height: 691014
                  miner_txid: 0x118f7122a69441d13e6a3dfd4c3b0f9950be25195bb8126aae7fadea1aa9185d
                  parent_microblock_hash: 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  parent_microblock_sequence: 3
                  txs:
                  - 0x76f58b2eaff65a07a5971b241c4e71fee92ee0f9396809f911f90839f9004cac
                  - 0x32972d9052b068f218f6e13451f7aff937099b74bbf95fac7d9402295b1b3941
                  - 0x8cd30724c02a9cc1d8879a34dc136ebfdb2008420badcfb5947b92f85ebce79b
                  - 0xf5c1577f42d3753a508101e045dd2dc60491eb0aa552e0ecd0ad37cc697143f4
                  - 0x35e4c20e2838f999e0cf0b40c5fabce154c2df1912a1074150d26784c53f7a20
                  - 0x501eb42b82e5b7a7350b47fa143cd4e90bb46d43e4a7d22830b2bf2aa70b7922
                  microblocks_accepted:
                  - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                  - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                  - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
                  microblocks_streamed:
                  - 0x54647c277eefe60519b407f2c897749005fdb7f831034135063b2ee43fdacb04
                  - 0xdaf61d2b355f35c94cf019af99aeb73d8e7db7301c7cd693a464ebd1cfc2228c
                  - 0xb9e9b308cf9621ecbf66ca7b4689fe384b9b67c4588ec827d8163ab602fb935e
                  - 0x754562cba6ec243f90485e97778ab472f462fd123ef5b83cc79d8759ca8875f5
              schema:
                $ref: '#/components/schemas/BlockListResponse'
          description: List of blocks
      summary: Get recent blocks
      tags:
      - Blocks
  /extended/v1/block/{hash}:
    get:
      deprecated: true
      description: |
        **NOTE:** This endpoint is deprecated in favor of [Get block](/api/get-block).

        Retrieves block details of a specific block for a given chain height. You can use the hash from your latest block ('get_block_list' API) to get your block details.
      operationId: get_block_by_hash
      parameters:
      - description: Hash of the block
        explode: false
        in: path
        name: hash
        required: true
        schema:
          example: 0x4839a8b01cfb39ffcc0d07d3db31e848d5adf5279d529ed5062300b9f353ff79
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                canonical: true
                height: 3275
                hash: 0xe77ba8cf6bb7c0e4f64adc83356289ed467d31a22354907b4bb814590058430f
                block_time: 1594233639
                block_time_iso: 2020-08-27T16:41:26.000Z
                index_block_hash: 0x918697ef63f9d8bdf844c3312b299e72a231cde542f3173f7755bb8c1cdaf3a7
                parent_block_hash: 0x75ab21ef25cbff2caa14c27d830ed7886a4d1522e1b6f9e5dc3b59ccf73ed49f
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: 0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e18fe2
                burn_block_height: 654439
                miner_txid: 0xd7d56070277ccd87b42acf0c91f915dd181f9db4cf878a4e95518bc397c240cc
                parent_microblock_hash: 0x590a1bb1d7bcbeafce0a9fc8f8a69e369486192d14687fe95fbe4dc1c71d49df
                parent_microblock_sequence: 2
                txs:
                - 0x4262db117659d1ca9406970c8f44ffd3d8f11f8e18c591d2e3960f4070107754
                - 0x383632cd3b5464dffb684082750fcfaddd1f52625bbb9f884ed8f45d2b1f0547
                - 0xc99fe597e44b8bd15a50eec660c6e679a7144a5a8553d214b9d5f1406d278c22
                microblocks_accepted:
                - 0xce0b1a4099d3fc7d5885cc7a3baa952b6d999f9709d0683b98b843597208231c
                - 0x4c0529b6448a5885991c5021bd869cc97f1692c128a98b382729dc962203c326
                - 0x64968846291dfea1015228a9d4bbd60aac81378cd6774b810b08e59e6b0e7494
                microblocks_streamed:
                - 0xb5650ef855f7d90fc146942e85cf9fac3a8c47ec408aca02f3cf9ed7c82f6cc6
                - 0xeeb9aa5741d84aa0bc5de4f2fbdeae57ae29694479475d45a67ae7bd7e2c98f3
                - 0x4f4c368d5f06fdf6065c5bafd9cb37391fddc9c279cfc57be35e4bf8ee932cbd
                - 0xde2fc8d99872c827f144c752c002d29f9315dfc09472a09572ac7447ae623dea
                execution_cost_read_count: 2477
                execution_cost_read_length: 1659409
                execution_cost_runtime: 2520952000
                execution_cost_write_count: 608
                execution_cost_write_length: 80170
                microblock_tx_count:
                  "0xce0b1a4099d3fc7d5885cc7a3baa952b6d999f9709d0683b98b843597208231c": 5
                  "0x4c0529b6448a5885991c5021bd869cc97f1692c128a98b382729dc962203c326": 6
                  "0x64968846291dfea1015228a9d4bbd60aac81378cd6774b810b08e59e6b0e7494": 9
              schema:
                $ref: '#/components/schemas/Block'
          description: Block
        "404":
          content:
            application/json:
              example:
                error: cannot find block by hash 0xabc123
          description: Cannot find block with given ID
      summary: Get block by hash
      tags:
      - Blocks
  /extended/v1/block/by_height/{height}:
    get:
      deprecated: true
      description: |
        **NOTE:** This endpoint is deprecated in favor of [Get block](/api/get-block).

        Retrieves block details of a specific block at a given block height
      operationId: get_block_by_height
      parameters:
      - description: Height of the block
        explode: false
        in: path
        name: height
        required: true
        schema:
          example: 10000
          type: number
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                canonical: true
                height: 3275
                hash: 0xe77ba8cf6bb7c0e4f64adc83356289ed467d31a22354907b4bb814590058430f
                block_time: 1594233639
                block_time_iso: 2020-08-27T16:41:26.000Z
                index_block_hash: 0x918697ef63f9d8bdf844c3312b299e72a231cde542f3173f7755bb8c1cdaf3a7
                parent_block_hash: 0x75ab21ef25cbff2caa14c27d830ed7886a4d1522e1b6f9e5dc3b59ccf73ed49f
                burn_block_time: 1594233639
                burn_block_time_iso: 2020-08-27T16:41:26.000Z
                burn_block_hash: 0xb154c008df2101023a6d0d54986b3964cee58119eed14f5bed98e15678e18fe2
                burn_block_height: 654439
                miner_txid: 0xd7d56070277ccd87b42acf0c91f915dd181f9db4cf878a4e95518bc397c240cc
[...]
